{% extends "master.html" %}
  {% block title %}
    <title>Booking List</title>
  {% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>A Fancy Table</h1>

<table id="customers">
  <tr>
    <th>Event Title</th>
    <th>Event Description</th>
    <th>Event Location</th>
    <th>Event Date</th>
    <th>Event Create By</th>
    <th>Event Status</th>
    <th>Actions</th>
  </tr>
{% for event in events %}
  <tr>
    <td>{{event.event_title}}</td>
    <td>{{event.event_description}}</td>
    <td>{{event.event_location}}</td>
    <td>{{event.event_date}}</td>
    <td>{{event.create_by}}</td>
    <td>{{event.event_status}}
      
      {% if event.event_status != 'Completed' %}
        <a href="{% url 'changeStatus' event.id %}">Change Status</a>
      {% endif %}
        
        
    </td>
    <td>
        <a href="{% url 'viewBookingPage' event.id %}">View</a>
        <a href="{% url 'updateBookingPage' event.id %}">Update</a>
        <a href="{% url 'deleteBookingPage' event.id %}">Delete</a>
    </td>
  </tr>
{% endfor %}

</table>

</body>



    
{% endblock body %}
    