{% extends "master.html" %}
  {% block title %}
    <title>Profile</title>
  {% endblock title %}
{% block body %}
 <div class="container">
    <section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/{{user.profile_image}}" class="rounded-circle img-fluid" style="width: 150px; height: 150px; border-radius: 50%;">
            <h5 class="my-3">Full Name :{{user.full_name}}</h5>
            <p class="text-muted mb-1">User Name :{{user.username}}</p>
            <p class="text-muted mb-4">User Mail: {{user.email}}</p>
            <p class="text-muted mb-4">User Phone: {{user.phone_number}}</p>
            <div class="d-flex justify-content-center mb-2">
              
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning"><a href="{% url 'changePasswordPage' %}">Change Password</a></button>
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger ms-1"><a href="{% url 'logoutPage' %}">LogOut</a></button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
 </div>
{% endblock body %}
    