{% extends 'master/base.html' %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg rounded-3">
        <div class="card-header bg-success text-white text-center">
          <h4><i class="fa fa-plus me-2"></i> Add Calorie Entry</h4>
        </div>
        <div class="card-body p-4">

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <form method="POST">
            {% csrf_token %}
            {{calorie_form}}

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-success"><i class="fa fa-plus me-1"></i> Add Entry</button>
              <a href="{% url 'dashboard' %}" class="btn btn-secondary"><i class="fa fa-arrow-left me-1"></i> Back</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
