# Ignore Python virtual environments
env/
myEnv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3

# Django specific
*.log
*.pot
*.pyc
db.sqlite3

# VS Code
.vscode/

# Environment variables
.env

# Media and static
/media/
/staticfiles/

# OS specific
.DS_Store
Thumbs.db
