{% extends 'master/master.html' %}

{% block body %}
<div class="container mt-4">
  <h2 class="mb-4 text-center">Dashboard</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            <strong>Company:</strong> <br>
            <strong>Location:</strong><br>
            <strong>Type:</strong>
          </p>
          <a href="" class="btn btn-primary btn-sm">View Details</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock body %}

