{% extends "master.html" %}
  {% block title %}
    <title>Booking View</title>
  {% endblock title %}

{% block body %}
<div class="container">
    <div class="card" style="width: 100%;">

  <div class="card-body">
    <h5 class="card-title">{{booking.event_title}}</h5>
    <p class="card-text">{{booking.event_description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{booking.event_type}}</li>
    <li class="list-group-item">{{booking.event_status}}</li>
    <li class="list-group-item">{{booking.event_location}}</li>
    <li class="list-group-item">{{booking.event_date}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Create By: {{booking.create_by}}</a>
  </div>
</div
</div>
{% endblock body %}
    