{% extends 'master/master.html' %}

{% block title %}Add Job | JobNest{% endblock %}

{% block body %}
<div class="container my-5" style="max-width: 700px;">
  <div class="card shadow rounded-3 p-4">
    <h3 class="mb-4 text-primary">
      <i class="bi bi-briefcase-fill me-2"></i>Post a New Job
    </h3>
    <form method="POST">
      {% csrf_token %}
      
      {{form}}


      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-plus-circle me-1"></i> Post Job
        </button>
        <a href="{% url 'dashboardPage' %}" class="btn btn-secondary">
          <i class="bi bi-arrow-left-circle me-1"></i> Cancel
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
