<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ResetPassword | EduPortal</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />

  <style>
    body {
      background-color: #f4f6fa;
      font-family: 'Segoe UI', sans-serif;
    }
    .card {
      border-radius: 10px;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-md-5">
        <div class="card shadow border-0">
          <div class="card-header text-center bg-primary text-white">
            <h4><i class="bi bi-person-circle me-1"></i>Reset password to EduPortal</h4>
          </div>
          <div class="card-body">
            <form method="POST" novalidate>
              {% csrf_token %}

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              {% endif %}

              <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                  <input type="password" name="new_password" id="new_password" class="form-control" required placeholder="Enter new_password">
                </div>
              </div>

              <div class="mb-4">
                <label for="confirm_new_password" class="form-label">Confirm New Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                  <input type="confirm_new_password" name="confirm_new_password" id="confirm_new_password" class="form-control" required placeholder="Enter confirm_new_password">
                </div>
              </div>

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
